[mysqld]
connect_timeout         = 360
net_write_timeout       = 360
net_read_timeout        = 360

innodb_buffer_pool_size = 256M
query_cache_size        = 64M

character-set-server    = utf8mb4
collation-server        = utf8mb4_general_ci